[submodule "Zelda64RecompSyms"]
	path = Zelda64RecompSyms
	url = https://github.com/Zelda64Recomp/Zelda64RecompSyms
[submodule "mm-decomp"]
	path = mm-decomp
	url = https://github.com/zeldaret/mm
[submodule "MMRecompChaosFramework"]
	path = MMRecompChaosFramework
	url = git@github.com:danielryb/MMRecompChaosFramework.git
